.hermetic/tools/create-telegram-workflow.json
{
  "name": "Telegram → Claude Code Bridge",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "telegram-webhook",
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract message from Telegram\nconst message = $input.item.json.message;\nconst text = message.text || '';\n\n// Prepare payload for Claude Code bridge\nreturn {\n  json: {\n    prompt: text,\n    token: \"hermetic-c516aa513b7fc1295d12a0f310389244\",\n    source: \"telegram\",\n    from_user: message.from.first_name,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wrap-trivia-arms-commissioners.trycloudflare.com/execute",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "send-to-bridge",
      "name": "Send to Claude Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8005622076:AAGwEKcZHWokqyHY8c711D1Rs9r97dbEErs/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"1540112442\",\n  \"text\": \"✅ Command received!\\n\\n📋 Processing: {{ $('Parse Message').item.json.prompt }}\\n\\n⏳ Claude Code is working...\"\n}"
      },
      "id": "send-confirmation",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Send to Claude Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Claude Bridge": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
